* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 3rem;
  text-align: center;
  text-transform: uppercase;
  margin: 2rem;
  background: linear-gradient(
    90deg,
    rgba(255, 8, 8, 1) 20%,
    rgba(0, 223, 223, 1) 50%,
    rgba(255, 164, 0, 1) 75%
  );
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.content {
  width: 50%;
  border: 1px solid red;
  padding: 10px;
  display: flex;
  align-items: center;
  margin: 0 auto 10px;
}

input {
  margin-bottom: 5px;
}

.ketqua {
  display: inline-block;
  min-width: 50px;
  min-height: 38px;
  text-align: center;
  color: #000;
  line-height: 38px;
  margin-left: 10px;
  border-radius: 5px;
  padding: 0 10px;
}
